.anchor-wrapper {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    visibility: visible;
}

.anchor-wrapper, .anchor-wrapper:hover, .anchor-wrapper:focus {
    text-decoration: none;
}

.anchor-wrapper .anchor-link {
    visibility: hidden;
}

.anchor-wrapper:hover .anchor-link, .anchor-wrapper:focus .anchor-link {
    visibility: visible;
}